@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 8%;
  width: 100%;
  height: calc(100vh - 80px);
}

.exercise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 18px;
  border-radius: 8px;
  height: 600px;
  width: 800px;
  background-color: #ffffff;
}

.exercise-title {
  margin-bottom: 16px;
  width: 100%;
  color: #000000;
  text-align: center;
}

.exercise-info {
  height: 100%;
  overflow-y: auto;
}

.exercise-input-container {
  margin-top: 12px;
}

.input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

  width: 100%;

  color: #000000;
  background-color: #f9f9f9;
}

.table {
  border-collapse: collapse;
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/**************** Table Header Row *****************/
.table thead tr {
  background-color: #1f1e1d;
  color: #FFA500;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

/**************** Table Header and Cell *****************/
.table th,
.table td {
  padding: 8px 10px;
  font-size: 0.8rem;
}

/**************** Table Body Row *****************/
.table tbody tr {
  background-color: #f8f8f8;
  border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f1f1f1;
}

.table tbody tr:last-of-type {
  border-bottom: 3px solid #1f1e1d;
}

@media screen and (max-width: 1024px) {
  .exercise-container {
    width: 100%;
  }
}